---
layout: default
---

<div class="home">
  <section class="home-description">
    <div id="image-container">
      <img src="{{ '/src/img/mtg.png' | relative_url }}" alt="logo mtg">
    </div>
    <p>
      ScryTrade é uma ferramenta essencial para jogadores de Magic: The
      Gathering que buscam negociar cartas com rapidez e precisão. Compare coleções da liga
      automaticamente, identifique cartas em comum e otimize suas trocas com
      apenas alguns cliques. Desenvolvida para traders que valorizam eficiência,
      essa extensão elimina o trabalho manual de análise, permitindo que você
      foque no que realmente importa: construir seu deck perfeito e expandir sua
      coleção de forma inteligente.
    </p>
  </section>

  <section class="home-description">
    <h3>Funcionalidades</h3>
    <ul>
      <li>Compara duas coleções da liga abertas em abas diferentes</li>
      <li>Identifica cartas comuns entre as coleções</li>
      <li>Exibe resultados em uma interface simples e intuitiva</li>
      <li>Armazena coleções localmente para comparação posterior</li>
    </ul>
    <p>Saiba como usar <a href="{{ '/como-usar' | relative_url }}">aqui</a></p>
  </section>

  <section>
    <h3>Baixe a extensão</h3>
    <div>
      <a
        id="chromeStoreBtn"
        target="_blank"
        href="https://chromewebstore.google.com/detail/scrytrade/cbbfbmmfanpbpgnboihjgboooooglndd"
        >ScryTrade</a
      >
    </div>
    <div id="versionsLink">
      <p>Ou verifique as <a href="{{ '/versoes' | relative_url }}">atualizações</a></p>
    </div>
  </section>
</div>
